
body
{
    margin:0vw; 
    padding:0vw;
    border:0vw;
}


/* this for header tag style */

#logo
{
    margin-left: 1vw;
    padding-top: 0.9vw;
    display: inline;
    width: 3vw;
    height: 4vw;
}

#logoName
{
    display: inline;
    font-size: 2vw;
    padding-top: 2vw;
    margin-left: 1vw;
    font-family: Arial Narrow;
}

.header
{
    background-color: black;
    color: white;
    font-size: 2vw;
}

header ul
{
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-left: 10.6vw;

}
header ul li
{
    display: inline;
    float:left;
    
    
}

.header li
{
    text-decoration:none;
    padding:2vw 2vw 2vw 2vw;
}
.header li:hover 
{
    background-color:red;
    cursor: pointer;

 }

 .header a
 {
    text-decoration: none;
 }

 .header a:visited
 {
     color:white;
 }


 /* this for the main tag style that has the left and right div */
 .container
 {
    
    display: flex;
    min-height: 31vw;
}
    



#leftChild
{
    width: 27vw;
    background-color: black;
    color: darkgrey;
    padding: 1vw 0vw 0vw 0%;
}

#rightChild
{
    width: 73vw;
    color: black;
}

#tableTitle
{
    margin-left:1.5vw;
    font-size: 2vw;
    color: white;
}

ol
{
    color:white;
    font-size:1.5vw;
}


/*this for the footer tag style */
.footer
{
    height: 11vw;
    background-color: rgb(189, 6, 6);
    color: black;
    margin: 0vw;
    font-size: 2vw;
}

.footer ul
{
    padding-left: 5vw;
    padding-top: 0vw;
    display: inline-block;
    list-style: none;
}

 .footer a
 {
     text-decoration:none;
 }

 .footer a:link
 {
     color:Black;
 }

 .footer a:visited
 {
     color:black;
 }

 .footer a:hover
 {
     color:rgb(25, 13, 78);
 }

 .footer p
 {
    padding-bottom: 0vw;
    padding-left: 40vw;
 }

