head
{
    icon: 'images/favicon.ico';
}
body
{
    margin:0px; 
    padding:0px;
    border:0px;
}


/* this for header tag style */

#logo
{
    margin-left:15px; 
    padding-top:5px; 
    display: inline;
    width:5%; 
    height:55px;
}

#logoName
{
    display:inline; 
    font-size:20px; 
    padding-top:18px; 
    margin-left:10px; 
    font-family:Arial Narrow;
}
.header
{
    background-color:black;
    color:white; 
    
    font-size:25px; 
}

header ul
{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:105px;
}
header ul li
{
    display: inline;
    float:left;
    
    
}

.header li
{
    text-decoration:none;
    padding:15px 25px 15px 25px;
}
.header li:hover 
{
    background-color:red;
    cursor: pointer;

 }

 .header a
 {
    text-decoration: none;
 }

 .header a:visited
 {
     color:white;
 }


 /* this for the main tag style that has the left and right div */
 .container
 {
    
    display:flex;
    
}  



#leftChild p
{
    font-size:20px;
    color:white;
}

#leftChild
{
    width:27%;
    min-height:330px; 
    background-color:black; 
    color:darkgrey;
    padding:15px 0px 0px 0%;
}

#rightChild
{
    width:69%; 
    min-height:330px;  
    color:black;
}
#tableTitle
{
    margin-left:22px;
}

ol
{
    color:white;
}


/*this for the footer tag style */
.footer
{
    height:110px; 
    background-color:rgb(189, 6, 6); 
    color:black; 
    margin:0px; 
    font-size:18px; 
    font-family:cursive;
}

.footer ul
{
    padding-left:50px; 
    padding-top:2px; 
    display:inline-block;
    list-style:none;
}

 .footer a
 {
     text-decoration:none;
 }

 .footer a:link
 {
     color:Black;
 }

 .footer a:visited
 {
     color:rgb(252, 252, 252);
 }

 .footer a:hover
 {
     color:rgb(25, 13, 78);
 }

 .footer p
 {
    padding-bottom:0px; 
    padding-left:300px;
 }

